// font and text styles
body {
    background-color: #fbfff1;
    color: #342838;
    text-align: center;
}

h1,
h2 {
    font-family: "Cinzel", serif;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h3 {
    font-weight: normal;
    font-family: "Assistant", sans-serif;
    font-size: 2.3rem;
}

p {
    margin: 10px 0;
    font-size: 2rem;
    font-family: "Assistant", sans-serif;
    padding: 8px 0;
}

label {
    font-family: "Assistant", sans-serif;
    text-transform: capitalize;
    font-size: 2.6rem;
    padding: 20px 10px;
    margin: 20px 0;
    border-radius: 21px;
    border: 2px solid #d3c5a6;
    background: linear-gradient(145deg, #ffe246, #d9be3b);
    
    &:hover {
        box-shadow: 6px 6px 2px 0.7px;

    }
}

input {
    opacity: 0;

    &:focus {
        +label {
            // color: #935ba5;
            box-shadow: 6px 6px 2px 0.7px;
        }
    }
}

input[type="radio"]:checked + label {
    border-radius: 21px;
    background: linear-gradient(145deg, #8f7809, #aa900e);
    box-shadow: 4px 4px 0.9px;
}

// link styles
a {
    text-transform: capitalize;
    text-decoration: none;
    font-weight: 700;

    &:visited {
        color: inherit;
    }

    &:hover,
    &:focus {
        color: #e7c411;
    }
}

// hidden class to hid question html when appropriate
.hidden {
    display: none;
}

// global div styles
div {
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

// global button styles start
button {
    display: block;
    padding: 10px 15px;
    margin-top: 25px;
    font-size: 2.5rem;
    text-transform: capitalize;
    border-radius: 10px;
    background: linear-gradient(145deg, #f7d212, #d0b00f);

    &:hover,
    &:focus {
        background: linear-gradient(145deg, #d0b00f, #f7d212);
        box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 0.75);
    }
}

// final results styles
.results {
    padding-top: 100px;
    max-width: 500px;
    margin: 0 auto;
}

// reset button styles start
.cta4 {
    margin: 0 auto;
}

// reset button styles end

footer {
    padding: 20px 0;
}