header {
    text-align: center;
    h1 {
        font-size: 5rem;
    }

    p {
        max-width: 650px;
        margin: 0 auto;
    }
}

@media (max-width:500px) {
    header {
        h1 {
            font-size: 4rem;
        }
    }
}